In [1]:
!pip install pandas

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in e:\anaconda\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

# CSV 파일 경로
file_path = './fulldata_07_24_04_P_일반음식점.csv'

In [5]:
# CSV 파일 읽기
data = pd.read_csv(file_path, encoding='cp949', low_memory=False)

# 데이터 확인
data

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,일반음식점,07_24_04_P,3170000,3170000-101-2022-00099,2022-05-17,NaN,3,폐업,2,...,0.0,NaN,0.0,0,N,59.28,NaN,NaN,NaN,NaN
1,2,일반음식점,07_24_04_P,3000000,3000000-101-2022-00116,2022-05-17,NaN,3,폐업,2,...,0.0,NaN,0.0,0,N,20.40,NaN,NaN,NaN,NaN
2,3,일반음식점,07_24_04_P,3220000,3220000-101-2022-00618,2022-05-27,NaN,3,폐업,2,...,0.0,NaN,0.0,0,N,0.00,NaN,NaN,NaN,NaN
3,4,일반음식점,07_24_04_P,4010000,4010000-101-2022-00334,2022-05-19,NaN,3,폐업,2,...,0.0,NaN,0.0,0,N,75.00,NaN,NaN,NaN,NaN
4,5,일반음식점,07_24_04_P,3180000,3180000-101-2022-00228,2022-05-17,NaN,3,폐업,2,...,0.0,NaN,0.0,0,N,27.80,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079992,2079993,일반음식점,07_24_04_P,3600000,3600000-101-1995-00101,1995-09-01,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,68.50,NaN,NaN,NaN,NaN
2079993,2079994,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,2012-01-19,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,85.00,NaN,NaN,NaN,NaN
2079994,2079995,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,2014-06-12,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
2079995,2079996,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,2014-03-21,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
2079996,2079997,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,2014-03-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN

In [6]:
data = data[data['영업상태명'] != '폐업']

In [7]:
data

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
1384182,1384183,일반음식점,07_24_04_P,3780000,3790000-101-2022-00126,2022-05-17,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,27.50,NaN,NaN,NaN,NaN
1384183,1384184,일반음식점,07_24_04_P,4080000,4080000-101-2022-00092,2022-05-17,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,82.95,NaN,NaN,NaN,NaN
1384184,1384185,일반음식점,07_24_04_P,4080000,4080000-101-2022-00091,2022-05-17,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,19.34,NaN,NaN,NaN,NaN
1384185,1384186,일반음식점,07_24_04_P,3180000,3180000-101-2022-00229,2022-05-17,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,40.00,NaN,NaN,NaN,NaN
1384186,1384187,일반음식점,07_24_04_P,5380000,5380000-101-2022-00198,2022-05-17,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,65.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079992,2079993,일반음식점,07_24_04_P,3600000,3600000-101-1995-00101,1995-09-01,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,68.50,NaN,NaN,NaN,NaN
2079993,2079994,일반음식점,07_24_04_P,3610000,3610000-101-2012-00009,2012-01-19,NaN,1,영업/정상,1,...,0.0,NaN,0.0,0,N,85.00,NaN,NaN,NaN,NaN
2079994,2079995,일반음식점,07_24_04_P,3610000,3610000-101-2014-00098,2014-06-12,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,118.98,NaN,NaN,NaN,NaN
2079995,2079996,일반음식점,07_24_04_P,3600000,3600000-101-2014-00060,2014-03-21,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,26.40,NaN,NaN,NaN,NaN
2079996,2079997,일반음식점,07_24_04_P,3600000,3600000-101-2014-00059,2014-03-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,82.60,NaN,NaN,NaN,NaN

In [8]:
# 삭제할 열 목록
columns_to_drop = ['번호', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가취소일자', '공장생산직직원수', '건물소유구분명', '보증액', '월세액', '전통업소지정번호', '홈페이지', 'Unnamed: 47']

In [9]:
data = data.drop(columns=columns_to_drop)
data

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,...,영업장주변구분명,등급구분명,급수시설구분명,총직원수,본사직원수,공장사무직직원수,공장판매직직원수,다중이용업소여부,시설총규모,전통업소주된음식
1384182,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,0.0,0.0,0.0,0.0,N,27.50,NaN
1384183,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,0.0,0.0,0.0,0.0,N,82.95,NaN
1384184,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,0.0,0.0,0.0,0.0,N,19.34,NaN
1384185,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,N,40.00,NaN
1384186,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,N,65.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079992,일반음식점,1995-09-01,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,NaN,0.0,0.0,0.0,N,68.50,NaN
2079993,일반음식점,2012-01-19,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,기타,기타,상수도전용,0.0,0.0,0.0,0.0,N,85.00,NaN
2079994,일반음식점,2014-06-12,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,기타,자율,NaN,NaN,NaN,NaN,NaN,N,118.98,NaN
2079995,일반음식점,2014-03-21,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,NaN,NaN,NaN,NaN,N,26.40,NaN
2079996,일반음식점,2014-03-19,1,영업/정상,1,영업,NaN,NaN,NaN,NaN,...,NaN,NaN,상수도전용,NaN,NaN,NaN,NaN,N,82.60,NaN

In [10]:
columns_to_drop = ['폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수', '본사직원수', '공장사무직직원수', '공장판매직직원수']

In [11]:
data = data.drop(columns=columns_to_drop)
data

,개방서비스명,인허가일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,소재지전화,소재지면적,소재지우편번호,소재지전체주소,...,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),위생업태명,남성종사자수,여성종사자수,다중이용업소여부,시설총규모,전통업소주된음식
1384182,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,27.50,461-811,경기도 성남시 수정구 신흥동 2562-2 1층,...,2022-11-30 02:40:00,한식,213117.592076,437825.856237679,한식,0.0,0.0,N,27.50,NaN
1384183,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,82.95,456-823,경기도 안성시 공도읍 만정리 815-1 107호,...,2022-05-19 00:22:31,호프/통닭,215021.103199,388727.667964023,호프/통닭,0.0,0.0,N,82.95,NaN
1384184,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,19.34,456-831,경기도 안성시 대덕면 내리 691-6 2층 일부,...,2022-05-19 00:22:31,한식,219857.937502,388861.268105772,한식,0.0,0.0,N,19.34,NaN
1384185,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,40.00,150-829,서울특별시 영등포구 도림동 76-22,...,2023-06-01 02:40:00,한식,191722.709234,445276.999732324,한식,0.0,0.0,N,40.00,NaN
1384186,일반음식점,2022-05-17,1,영업/정상,1,영업,NaN,65.00,626-812,경상남도 양산시 물금읍 물금리 878-6,...,2022-05-19 00:22:31,기타,380741.211631,202644.423181367,기타,0.0,0.0,N,65.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2079992,일반음식점,1995-09-01,1,영업/정상,1,영업,0062374 0679,68.50,502-155,광주광역시 서구 용두동 306번지 1,...,2018-08-31 23:59:59,한식,183338.073439,178369.322568135,한식,0.0,0.0,N,68.50,NaN
2079993,일반음식점,2012-01-19,1,영업/정상,1,영업,NaN,85.00,503-822,광주광역시 남구 양림동 374 2층,...,2022-08-04 02:40:00,한식,192085.702260,182111.703093129,한식,0.0,2.0,N,85.00,NaN
2079994,일반음식점,2014-06-12,1,영업/정상,1,영업,062 369 1582,118.98,503-831,광주광역시 남구 월산동 1048-182번지 (1층),...,2020-02-27 02:40:00,한식,190363.418899,181905.028328142,한식,NaN,NaN,N,118.98,NaN
2079995,일반음식점,2014-03-21,1,영업/정상,1,영업,NaN,26.40,502-837,광주광역시 서구 화정동 332-9번지 (1층),...,2020-01-01 02:40:00,한식,188322.201767,183130.570775951,한식,NaN,NaN,N,26.40,NaN
2079996,일반음식점,2014-03-19,1,영업/정상,1,영업,NaN,82.60,502-834,광주광역시 서구 화정동 70-61 (1층),...,2021-01-01 02:40:00,한식,188873.020499,184152.828430449,한식,NaN,NaN,N,82.60,NaN

In [12]:
columns_to_drop = ['개방서비스명', '인허가일자', '영업상태구분코드', '상세영업상태코드', '상세영업상태명', '소재지면적', '소재지우편번호', '좌표정보(x)', '좌표정보(y)', '남성종사자수', '여성종사자수', '다중이용업소여부', '시설총규모', '전통업소주된음식']

In [13]:
data = data.drop(columns=columns_to_drop)
data

,영업상태명,소재지전화,소재지전체주소,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,위생업태명
1384182,영업/정상,NaN,경기도 성남시 수정구 신흥동 2562-2 1층,"경기도 성남시 수정구 산성대로295번길 9, 1(일부)층 (신흥동)",13354.0,해피딜리버리(Happy delivery),2022-11-28 15:22:14,U,2022-11-30 02:40:00,한식,한식
1384183,영업/정상,NaN,경기도 안성시 공도읍 만정리 815-1 107호,"경기도 안성시 공도읍 공도3로 9-9, 공도 일번가타워 1층 107호",17561.0,79대포 안성공도점,2022-05-17 17:03:24,I,2022-05-19 00:22:31,호프/통닭,호프/통닭
1384184,영업/정상,NaN,경기도 안성시 대덕면 내리 691-6 2층 일부,"경기도 안성시 대덕면 중앙대학로 116-1, 2층",17547.0,맛있어2(Masisso2),2022-05-17 14:44:56,I,2022-05-19 00:22:31,한식,한식
1384185,영업/정상,NaN,서울특별시 영등포구 도림동 76-22,"서울특별시 영등포구 도신로33길 11, 1층 (도림동)",7368.0,푸드 딜리버리 영등포점,2023-05-30 16:37:51,U,2023-06-01 02:40:00,한식,한식
1384186,영업/정상,NaN,경상남도 양산시 물금읍 물금리 878-6,"경상남도 양산시 물금읍 버들2길 7-13, 1층 일부",50657.0,수벙샌드위치,2022-05-17 15:31:46,I,2022-05-19 00:22:31,기타,기타
...,...,...,...,...,...,...,...,...,...,...,...
2079992,영업/정상,0062374 0679,광주광역시 서구 용두동 306번지 1,"광주광역시 서구 용두난산길 46, 1층 (용두동)",62078.0,원아가든,2017-01-31 13:15:59,I,2018-08-31 23:59:59,한식,한식
2079993,영업/정상,NaN,광주광역시 남구 양림동 374 2층,"광주광역시 남구 제중로 39, 2층 (양림동)",61643.0,뚱스넥,2022-08-02 16:18:12,U,2022-08-04 02:40:00,한식,한식
2079994,영업/정상,062 369 1582,광주광역시 남구 월산동 1048-182번지 (1층),"광주광역시 남구 군분로 26-1, 1층 (월산동)",61615.0,갈비명가아라네,2020-02-25 09:35:39,U,2020-02-27 02:40:00,한식,한식
2079995,영업/정상,NaN,광주광역시 서구 화정동 332-9번지 (1층),"광주광역시 서구 월드컵4강로116번길 5, 1층 (화정동)",61984.0,승진이네,2019-12-30 10:14:42,U,2020-01-01 02:40:00,한식,한식
2079996,영업/정상,NaN,광주광역시 서구 화정동 70-61 (1층),"광주광역시 서구 내방로350번길 10, 1층 (화정동)",61977.0,명가,2020-12-30 10:39:40,U,2021-01-01 02:40:00,한식,한식

In [14]:
columns_to_drop = ['데이터갱신일자', '위생업태명', '데이터갱신구분', '도로명우편번호', '도로명전체주소', '최종수정시점']
data = data.drop(columns=columns_to_drop)
data

,영업상태명,소재지전화,소재지전체주소,사업장명,업태구분명
1384182,영업/정상,NaN,경기도 성남시 수정구 신흥동 2562-2 1층,해피딜리버리(Happy delivery),한식
1384183,영업/정상,NaN,경기도 안성시 공도읍 만정리 815-1 107호,79대포 안성공도점,호프/통닭
1384184,영업/정상,NaN,경기도 안성시 대덕면 내리 691-6 2층 일부,맛있어2(Masisso2),한식
1384185,영업/정상,NaN,서울특별시 영등포구 도림동 76-22,푸드 딜리버리 영등포점,한식
1384186,영업/정상,NaN,경상남도 양산시 물금읍 물금리 878-6,수벙샌드위치,기타
...,...,...,...,...,...
2079992,영업/정상,0062374 0679,광주광역시 서구 용두동 306번지 1,원아가든,한식
2079993,영업/정상,NaN,광주광역시 남구 양림동 374 2층,뚱스넥,한식
2079994,영업/정상,062 369 1582,광주광역시 남구 월산동 1048-182번지 (1층),갈비명가아라네,한식
2079995,영업/정상,NaN,광주광역시 서구 화정동 332-9번지 (1층),승진이네,한식
2079996,영업/정상,NaN,광주광역시 서구 화정동 70-61 (1층),명가,한식

In [15]:
# 데이터프레임 인덱스 재배열
data = data.reset_index(drop=True)
data

,영업상태명,소재지전화,소재지전체주소,사업장명,업태구분명
0,영업/정상,NaN,경기도 성남시 수정구 신흥동 2562-2 1층,해피딜리버리(Happy delivery),한식
1,영업/정상,NaN,경기도 안성시 공도읍 만정리 815-1 107호,79대포 안성공도점,호프/통닭
2,영업/정상,NaN,경기도 안성시 대덕면 내리 691-6 2층 일부,맛있어2(Masisso2),한식
3,영업/정상,NaN,서울특별시 영등포구 도림동 76-22,푸드 딜리버리 영등포점,한식
4,영업/정상,NaN,경상남도 양산시 물금읍 물금리 878-6,수벙샌드위치,기타
...,...,...,...,...,...
695810,영업/정상,0062374 0679,광주광역시 서구 용두동 306번지 1,원아가든,한식
695811,영업/정상,NaN,광주광역시 남구 양림동 374 2층,뚱스넥,한식
695812,영업/정상,062 369 1582,광주광역시 남구 월산동 1048-182번지 (1층),갈비명가아라네,한식
695813,영업/정상,NaN,광주광역시 서구 화정동 332-9번지 (1층),승진이네,한식
695814,영업/정상,NaN,광주광역시 서구 화정동 70-61 (1층),명가,한식

In [16]:
# 수정된 데이터프레임을 CSV 파일로 저장
output_file_path = './전국음식점(수정본).csv'
data.to_csv(output_file_path, index=False)

print("CSV 파일이 저장되었습니다.")

CSV 파일이 저장되었습니다.