In [68]:
import pandas as pd
df= pd.read_csv('./서울(동대문전처리완료)_processed.csv', encoding='utf-8', low_memory=False)
df

,소재지전체주소,사업장명,업태구분명,latitude,longitude,review,target,데이트,맛,서비스,청결
0,서울 동대문구 경희대로 5 가동 2층,오레노카츠 경희대점,일식,37.592063,127.052165,매장 새로 깨끗하고 돈가스 맛있다 좋아요 체다 치즈 소스 제공 옵션 있어 좋구 회기...,1,1,1,1,1
1,서울 동대문구 경희대로1길 35 봄의정원 회기점,봄의정원 회기점,양식,37.591739,127.050250,두번째 방문 입니다 예약 넓은 자리 안내 해 레드와인 차갑게 요구 해주시 전보 음식...,1,1,1,1,1
2,서울 동대문구 회기로25길 23-5 1층,레알라면,라면,37.591131,127.055390,오렌지 주문 오렌지 맵 주문 너 무 매워서 이틀 고생 두번째 방문 일행 레드 레드 ...,1,0,1,1,0
3,서울 동대문구 회기로23길 7 1층,옵소,한식,37.591185,127.053945,인테리어 이쁘고 매장 깔끔하고 좌석 편해요 곱창 부위 설명 친절하셔서 기분 좋고 배...,1,1,1,1,1
4,서울 동대문구 회기로21길 29 고깃집도훈,고깃집도훈,한식,37.592679,127.053131,역대 냉 집 발견 듀록 삼겹살 이 가격 수 있는것도 감동 맛있다 선생님 특 소스 파...,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4137,서울 동대문구 휘경로 35-1 그옛날1947왕만두 이문점,그옛날1947왕만두 이문점,한식,37.594988,127.063831,모 왕만 걸 대체 땅 새우 찐빵 땅 간밤 맛있다 친절해요 맛있다 혼합 좋아요 동네 ...,1,0,1,1,0
4138,서울 동대문구 이문로17길 14,장수식당,한식,37.594805,127.058140,백반 깔끔하구 맛있다 삼계탕 맛있다 돼지 불 맛있다 요 맛있다 글 맛있다 좋아요 맛...,1,0,1,1,1
4139,서울 동대문구 천장산로 47 2층,더카페하임즈 본점,카페,37.600298,127.057313,생각 맛있다 접근성 낮은 위치 자주 운 빵 냄새 좋아요 포장 중 입 커피 값 완전 ...,1,0,1,1,0
4140,서울 동대문구 신이문로 17,카페우리동네,카페,37.603309,127.064184,제 아지트 혼자 곳 더욱 번장 좋겠습니다 친절하시고 편안하게 개인 멍 좋습니다 전과...,1,0,1,1,1
4141,서울 동대문구 신이문로28길 4,등대횟집,일식,37.602752,127.066819,굿 물회 여기 한번 가지 광어 우럭 만 온 등대 횟집 곳 회 툼 맛있다 신선하다 크...,1,0,1,1,0

In [69]:
import re

# Function to clean the text
def clean_text(text):
    # Remove special characters
    text = re.sub(r'\W', ' ', text)
    # Remove numbers
    text = re.sub(r'\d', ' ', text)
    # Remove single characters
    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text)
    # Substitute multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text, flags=re.I)
    # Convert to lowercase
    text = text.lower()

    return text

# Apply the function to the 'review' column
df['review'] = df['review'].apply(clean_text)

df.head()

TypeError: expected string or bytes-like object, got 'float'

In [70]:
from sklearn.model_selection import train_test_split

# Define our features and target
X = df['review']
y = df[['데이트', '맛', '서비스', '청결']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape

((3313,), (829,))

In [74]:
df.isnull().sum()

,소재지전체주소,사업장명,업태구분명,latitude,longitude,review,target,데이트,맛,서비스,청결
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4137,False,False,False,False,False,False,False,False,False,False,False
4138,False,False,False,False,False,False,False,False,False,False,False
4139,False,False,False,False,False,False,False,False,False,False,False
4140,False,False,False,False,False,False,False,False,False,False,False
4141,False,False,False,False,False,False,False,False,False,False,False

In [71]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
import numpy as np

# Set maximum vocabulary size and maximum sentence length
MAX_VOCAB_SIZE = 10000
MAX_SENTENCE_LENGTH = 600

# Tokenize the text
tokenizer = Tokenizer(num_words=MAX_VOCAB_SIZE)
tokenizer.fit_on_texts(df['review'])

# Convert text to sequences
sequences = tokenizer.texts_to_sequences(df['review'])

# Pad sequences
X = pad_sequences(sequences, maxlen=MAX_SENTENCE_LENGTH)

# Define the target
y = df[['데이트', '맛', '서비스', '청결']].values

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the LSTM model
model = Sequential()
model.add(Embedding(MAX_VOCAB_SIZE, 200, input_length=MAX_SENTENCE_LENGTH))
model.add(LSTM(180, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(4, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train,
          batch_size=32,
          epochs=50,
          validation_data=(X_test, y_test))

AttributeError: 'float' object has no attribute 'lower'

In [66]:
# Save the model
model.save('keras_model.keras')